<div class="bio">
  <div class="bio__photo img-border">
    <img src="/assets/pawel.jpg" alt="Pawel Cebula profile photo" class="img-transform">
  </div>
  <div class="bio__text">
    {% for p in bio %}
      <p>{{ p }}</p>
    {% endfor %}    
  </div>
</div>