<section class="bio" 
  aria-labelledby="heroHeading" 
  aria-describedby="heroSub heroComment"
>
  <div class="bio__photo img-border">
    <img src="/assets/profile.jpg" alt="Pawel Cebula profile photo">
  </div>
  <div class="bio__text">
    {% for p in bio %}
      <p>{{ p }}</p>
    {% endfor %}    
  </div>
</section>