<section class="bio" 
  aria-labelledby="heroHeading" 
  aria-describedby="heroSub"
>
  <div class="bio__photo img-border">
    <img src="/assets/profile.jpg" alt="Pawel Cebula profile photo">
  </div>
  <div class="bio__text">
    <p>I'm currently working as a Senior Software Engineer at <a href='https://www.beondeck.com/'>On Deck</a>, where I'm building products for early stage startup founders. I transitioned into engineering after founding Medigo, a VC-funded healthtech and insurtech startup, where I was the COO for 7 years.</p>
    {% for p in bio %}
      <p>{{ p }}</p>
    {% endfor %}    
  </div>
</section>