<footer>
  <div class="nav__external">
    {% for item in navigation.external %}
      <a href="{{ item.url }}">
        {% include 'svg/' + item.icon + '.svg' %}
      </a>
    {% endfor %}
  </div>
  <p>Pawel Cebula | &copy 2021</p>
</footer>