<footer>
  <p>pawelcebula.com | &copy 2021</p>
  <div class="nav__external">
    {% for item in navigation.external %}
      <a href="{{ item.url }}">
        {% include 'svg/' + item.icon + '.svg' %}
      </a>
    {% endfor %}
  </div>
</footer>