<header>
  <div class="wrapper header">
    <div class="logo-wrapper">
      <a href="/" class="logo">pawel cebula</a>
    </div>
    <nav class="nav">
      <button class="nav__toggle">
        <span class="nav__toggle__menu">
          {% include 'svg/menu.svg' %}
        </span>
        <span class="nav__toggle__close">
          {% include 'svg/close.svg' %}
        </span>      
      </button>
      <div class="nav__internal">
        {% for item in navigation.internal %}
          <a href="{{ item.url }}">{{ item.name }}</a>
        {% endfor %}
      </div>
    </nav>
  </div>

  {% if heroHeading %}
    {% include 'hero.njk' %}
  {% endif %}

  <script type="text/javascript">
    (function () {
      const navToggle = document.querySelector(".nav__toggle");
      navToggle.addEventListener("click", function(event) {
        event.preventDefault();
        const nav = document.querySelector(".nav");
        nav.classList.toggle("is-open");
      });    
    })();
  </script>
</header>