<div>
  <div class="wrapper hero">
    <h1 id="heroHeading">{{ heroHeading }}</h1>
    {% if heroSub %}
      <h2 id="heroSub">{{ heroSub }}</h2>
    {% endif %}
    {% if heroComment %}
      <p id="heroComment">{{ heroComment }}</p>
    {% endif %}
  </div>
</div>