<div class="hero">
  <img src="/assets/pawel.jpg" alt="Pawel Cebula profile photo" style="max-width: 100%;">
  {# <h1>I'm Pawel</h1>
  <h2>Self-taught web developer, previously startup founder & COO</h2> #}
  <h1>{{ heading }}</h1>
  <h2>{{ subheading }}</h2>
</div>