{% extends 'base.njk' %}

{% set heroHeading = title %}

{% block main %}
  <div class="wrapper post">
    <article 
      class="post__content"
      aria-labelledby="heroHeading"
      aria-describedby="heroSub heroComment"
    >
      <p class="post__snippet__date">{{ 'Published: ' + date | dateFilter + ' | ' + content | readingTime + ' read' }}</p>
      {{ content | safe }}
    </article>
  </div>
{% endblock main %}