{% extends 'base.njk' %}

{% set heroHeading = title %}
{% set heroSub = 'Published: ' + date | dateFilter + ' | ' + content | readingTime + ' read' %}

{% block main %}
  <div class="wrapper post">
    <div class="post__content">
      {{ content | safe }}
    </div>
  </div>
{% endblock main %}