<section>
  <h3>My Tech Stack</h3>
  <div class="stacks">
    <div class="stack">
      <h4>I'm most experienced with</h4>
      <ul class="list-reset">
        {% for tech in stack.primary %}
          <li class="list-tag">{{ tech.name }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="stack">
      <h4>I'm familiar with</h4>
      <ul class="list-reset">
        {% for tech in stack.secondary %}
          <li class="list-tag">{{ tech.name }}</li>
        {% endfor %}
      </ul>    
    </div>
  </div>
</section>