<div>
  <h2>My Tech Stack</h2>
  <div>
    <h3>I'm most experienced with</h3>
    <ul>
      {% for tech in stack.primary %}
        <li>{{ tech.name }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <h3>I'm familiar with</h3>
    <ul>
      {% for tech in stack.secondary %}
        <li>{{ tech.name }}</li>
      {% endfor %}
    </ul>    
  </div>
</div>