/* reset and basic layout */

:root {
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
  /* limit font-size at large view to i.e. 1.125em */

  

  --blue100: hsla(190, 95%, 95%, 1);
  --blue200: hsla(200, 90%, 70%, 1);
  --blue300: hsla(205, 90%, 50%, 1);
  --blue400: hsla(205, 96%, 40%, 1);
  --blue500: hsla(210, 96%, 33%, 1);
  --blue600: hsla(211, 97%, 25%, 1);
  --blue700: hsla(212, 100%, 17%, 1);
  --blue800: hsla(219, 100%, 14%, 1);
  --blue900: hsla(219, 100%, 10%, 1);
  --grey600: hsla(220, 29%, 28%, 1);
  --grey500: hsla(220, 15%, 43%, 1);
  --grey400: hsla(222, 11%, 54%, 1);
  --grey300: hsla(223, 11%, 63%, 1);
  --grey200: hsla(228, 6%, 75%, 1);
  --grey100: hsla(232, 3%, 85%, 1);
  --yellow: hsla(45, 93%, 75%, 1);
  --pink: hsla(345, 90%, 60%, 1);
  --white: hsla(0, 0%, 100%, 1);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  text-align: center; /* reconsider */
  background-color: var(--white);
  font-family: Verdana, sans-serif;
  color: var(--grey500);
}

body {
  font-family: 'Lora', serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blue600);
}

h1 {
  padding-bottom: 0.3em;
  margin-top: 0.5em;
}

a {
  text-decoration: none;
  color: var(--pink);
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

svg {
  fill: var(--blue600);
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2em;
}

.img-border {
  border: 0.3em solid var(--yellow);
  border-radius: 0.5em;
}

.img-transform {
  transform: translate(1em, 1em);
  position: relative;
  z-index: -1;
  border-radius: 0.5em;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.list-tag {
  display: inline-block;
  background-color: var(--yellow);
  padding: 0.3em 0.6em;
  margin-bottom: 0.5em;
  color: var(--blue600);
  font-size: 0.8rem;
  border-radius: 0.5em;
}

/* header */

header, 
.hero {
  background-image: linear-gradient(to right, var(--blue500), var(--blue900));
}

.hero > .wrapper > * {
  color: var(--blue100);
}

header > .wrapper {
  display: flex;
  flex-direction: column;
}

.logo-wrapper {
  display: flex;
  align-self: flex-start;
  border-bottom: 2px solid var(--yellow);
}

.logo {
  font-size: 1.5em;
  font-weight: 500;
  color: var(--blue100);
  padding: 0.3em 0;
}

.nav__toggle {
  position: absolute;
  top: 0.5em;
  right: 2em;
  height: 2em;
  width: 2em;
  border: 0;
  background-color: transparent;
}

.nav__toggle__menu {
  display: block;
}

.nav__toggle__close {
  display: none;
}

.nav.is-open .nav__toggle__menu {
  display: none;
}

.nav.is-open .nav__toggle__close {
  display: block;
}

.nav__internal {
  display: none;
  transition: display 0.3s linear;
}

.nav.is-open .nav__internal {
  display: flex;
  flex-direction: column;
}

.nav__internal > a {
  font-size: 1.25rem;
  color: var(--blue100);
  padding: 0.3em 0.5em;
  transition: transform 0.1s linear;
}

.nav__internal > a:hover {
  color: var(--yellow);
  transform: scale(1.1);
}

.nav__external {
  justify-content: center;
  padding: 0.5em;
}

.nav .nav__external {
  display: none;
}

.nav.is-open .nav__external {
  display: flex;
}

.nav__external > * + * {
  margin-left: 0.6em;
}

.nav svg {
  fill: var(--blue100);
  transition: transform 0.1s linear;
}

.nav svg:hover {
  fill: var(--yellow);
  transform: scale(1.1);
}

.nav__external svg {
  width: 2em;
  height: 2em;
}

/* footer */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  margin-top: auto;
  background-color: var(--grey100);
  color: var(--grey400);
  font-size: 0.8em;
}

footer svg {
  fill: var(--grey400);
}

/* index */

.hero {
  padding: 2em 0 4em;
}

.wave {
  /* width: 100%; */
  height: 5em;
}

.wave > svg {
  background-image: linear-gradient(to right, var(--blue500), var(--blue900));
  width: 100%;
  height: 100%;
}

.features__item {
  padding: 1em 1em;
}

.features__item svg {
  width: 4em;
  height: 4em;
  background-color: var(--blue600);
  /* background-image: linear-gradient(to right, var(--blue500), var(--blue900)); */
  fill: var(--blue100);
  border-radius: 50%;
  padding: 0.8em;
}

.features__item > h3 {
  margin-top: 0.5em;
}

.features__item > p {
  margin-top: 0.5em;
}

/* about */

.about > * {
  margin-top: 2em;
}

.about h2 {
  border-bottom: 1px solid var(--grey100);
  padding-bottom: 0.3em;
}

.bio {
  text-align: left;
  padding: 1em 0;
}

.bio__text {
  padding-top: 2em;
}

.bio__text > p + p {
  margin-top: 1em;
}

.bio__photo {
  max-height: 50vh;
}

.stacks {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-top: 2em;
}

.period {
  margin: 1em 0;
}

.period__year {
  background-color: var(--grey100);
  display: inline-block;
  padding: 0.2em 0.5em;
  font-size: 0.85rem;
  color: var(--grey400);
  border-radius: 0.5em;
}

.period__description > p {
  margin-top: 1em;
  text-align: left;
}

/* projects */

.projects > * + * {
  border-top: 1px solid var(--grey100);
}

.project {
  padding: 1em 0;
  text-align: left;
  display: flex;
  flex-direction: column;
}

.project__image {
  margin-bottom: 1em;
  max-height: 40vh;
  overflow: hidden;
}

.project__image > img {
  object-fit: cover;
}

.project h2 {
  display: inline-block;
  font-size: 1.25rem;
}

.project__git {
  float: right;
}

.project__git > svg {
  height: 3.5em;
  width: 3.5em;
}

.project__url {
  display: block;
}

.project__description > p {
  margin-top: 1em;
}

/* posts */

.posts {
  text-align: left;
  margin: 1em 0;
}

.posts > * + * {
  border-top: 1px solid var(--grey100);
}

.post__snippet {
  margin-top: 1em;
  padding-top: 1em;
}

.post__snippet__date {
  font-size: 0.8em;
  color: var(--grey300);
}

.post__snippet p + p {
  margin-top: 1em;
}

.post__snippet__more {
  font-size: 0.8rem;
}

/* post */

.post__content {
  margin: 1em 0;
  text-align: left;
}

.post__content * + * {
  margin-top: 1em;
}

/* contact */

.contacts {
  max-width: 30em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 1em auto;
}

.contacts svg {
  height: 3em;
  width: 3em;
  vertical-align: middle;
  background-color: var(--white);
  fill: var(--blue600);
  border-radius: 50%;
  padding: 0.3em;
}

.contact {
  border: 3px solid var(--blue600);
  flex-basis: 50%;
}

.contact > a {
  display: flex;
  align-items: center;
  background-color: var(--yellow);
  padding: 1em 2em;
  transform: translate(0.4em, 0.4em);
  position: relative;
  z-index: -1;
  font-size: 1.1rem;
  font-family: 'Montserrat', sans-serif;
}

.contact__prompt {
  margin-left: 1em;
}

/* media queries */

@media (min-width: 48em) {
  :root {
    font-size: 1em;
  }

  .nav__toggle {
    top: 0.8em;
  }
  
  .features {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    flex-basis: 50%;
    padding: 1em 2em;
  }

  .bio {
    display: flex;
  }

  .bio__photo img {
    height: 100%;
    object-fit: cover;
    /* border: 1px solid blue; */
  }

  .bio__text {
    padding-top: 0;
    padding-left: 2em;
  }

  .stacks {
    flex-direction: row;
  }

  .stack {
    flex-basis: 50%;
  }

  .project {
    flex-direction: row;
  }

  .project__image {
    flex-basis: 50%;
    max-height: 50vh;
    /* border: 1px solid red; */
    margin: 0;
  }

  .project__image > img {
    width: 100%;
    object-position: top left;
  }

  .project__info {
    flex-basis: 50%;
    padding-left: 1em;
  }
}

@media (min-width: 64em) {
  header > .wrapper {
    flex-direction: row;
    justify-content: space-between;
    /* border-bottom: 2px solid var(--yellow); */
  }

  .logo-wrapper {
    align-self: stretch;
  }

  .nav {
    display: flex;
    align-items: center;
    border-bottom: 2px solid var(--yellow);
  }
  
  .nav__toggle {
    display: none;
  }

  .nav__internal {
    display: flex;
  }

  .nav .nav__external {
    display: flex;
    padding: 0.5em 0;
  }
  
  .nav__internal > a {
    border: 0;
    margin: 0 0.6em;
    font-size: 1.1em;
  }

  .features__item {
    flex-basis: 25%;
    padding: 0.5em 1em;
  }

  .periods {
    display: flex;
    flex-wrap: wrap;
  }

  .period {
    flex-basis: 50%;
  }

  .project__image {
    flex-basis: 40%
  }

  .project__info {
    flex-basis: 60%;
  }
}