/* reset and basic layout */

:root {
  box-sizing: border-box;
  font-size: calc(0.5em + 1vw);
  --maxwidth: 1180px;
  --darkgrey: hsla(220, 9%, 46%, 1);
  --mediumgrey: hsla(0, 0%, 79%, 1);
  --lightgrey: hsla(232, 3%, 85%, 1);
  --white: hsla(0, 0%, 100%, 1);
  --indigo: hsla(232, 66%, 53%, 1);
  --yellow: hsla(45, 93%, 75%, 1);
  --pink: hsla(337, 100%, 65%, 1);
}

*,
::before,
::after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--white);
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Roboto Mono', monospace;
  color: var(--darkgrey);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--indigo);
  letter-spacing: 0.01em;
}

h2,
h4 {
  color: var(--darkgrey);
}

h2 {
  font-weight: 400;
}

p {
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: var(--pink);
}

img {
  max-width: 100%;
}

svg {
  fill: var(--indigo);
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  max-width: var(--maxwidth);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 2em;
}

.wrapper:not(.header, .hero) > * + * {
  margin-top: 2em;
}

.img-border {
  border: 1px solid var(--lightgrey);
  border-radius: 0.3em;
  line-height: 0;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.list-tag {
  display: inline-block;
  border-radius: 0.4em;
  background-color: var(--yellow);
  margin-bottom: 0.5em;
  padding: 0.3em 0.6em;
  font-size: 0.9rem;
  color: var(--darkgrey);
}

.quote {
  margin-bottom: 2em;
}

blockquote {
  margin: 1em 0;
  border-left: 2px solid var(--lightgrey);
  padding: 0.7em 1em;
  font-style: italic;
}

/* header */

.header {
  min-height: 4em;
  letter-spacing: 0.05em;
  font-weight: 600;
  text-transform: uppercase;
}

.header a:hover {
  color: var(--pink);
}

.logo-wrapper {
  display: flex;
  align-items: center;
  height: 4em;
}

.logo {
  font-size: 1.3rem;
  color: var(--indigo);
}

.nav__toggle {
  position: absolute;
  top: 0.9em;
  right: 2em;
  height: 2em;
  width: 2em;
  border: 0;
  background-color: transparent;
}

.nav__toggle svg {
  height: 2em;
  width: 2em;
  position: absolute;
  top: 0;
  left: 0;
}

.nav__toggle svg:hover {
  fill: var(--pink);
}

.nav__toggle__menu {
  display: block;
}

.nav__toggle__close {
  display: none;
}

.nav.is-open .nav__toggle__menu {
  display: none;
}

.nav.is-open .nav__toggle__close {
  display: block;
}

.nav__internal {
  display: none;
}

.nav.is-open .nav__internal {
  display: flex;
  flex-direction: column;
}

.nav__internal > a {
  font-size: 1.3rem;
  color: var(--indigo);
  padding: 0.3em 0;
}

.nav__internal > a::before {
  content: '# ';
  color: var(--mediumgrey);
}

.hero {
  margin: 1.5em auto;
}

/* footer */

footer {
  height: 2.5em;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9rem;
  color: var(--darkgrey);
}

footer p {
  margin-top: 0;
}

footer a {
  display: inline-block;
}

footer svg {
  fill: var(--darkgrey);
}

/* index */

.intro {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
  margin-bottom: 2em;
}

.intro__text {
  max-width: 620px;
}

.intro__text h1 {
  font-size: 2.4rem;
}

.intro__text h2 {
  color: var(--indigo);
  font-size: 1.5rem;
}

.intro__text p {
  max-width: 520px;
  margin-top: 1.5em;
}

.intro svg {
  max-width: 240px;
  align-self: flex-end;
}

/* about */

.stacks {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 2em;
}

.stack {
  max-width: 520px;
}

.periods {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  gap: 2em;
}

.period-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

.period-svg-wrapper {
  display: flex;
  gap: 2em;
}

.period-svg-wrapper > svg {
  width: 100%;
  max-width: 300px;
}

.period {
  margin-top: 2em;
}

.period > h4 {
  color: var(--indigo);
  font-size: 1.2rem;
}

.period__description {
  margin-top: 1em;
}

/* projects */

.projects > * + * {
  border-top: 1px solid var(--lightgrey);
}

.project {
  padding: 2em 0;
  display: flex;
  flex-direction: column;
}

.project:first-of-type {
  padding-top: 0;
}

.project__image {
  max-height: 40vh;
  overflow: hidden;
}

.project__info {
  margin-top: 1.5em;
}

.project__git {
  float: right;
}

.project__git > svg {
  height: 3em;
  width: 3em;
}

.project__git > svg:hover {
  fill: var(--pink);
}

/* posts */

.posts > * + * {
  border-top: 1px solid var(--lightgrey);
}

.post__snippet {
  margin-top: 1em;
  padding-top: 1em;
}

.post__snippet__date {
  margin-top: 0;
  font-size: 0.8rem;
  color: var(--mediumgrey);
}

.post__snippet__more {
  font-size: 0.9rem;
  display: inline-block;
  margin-top: 1em;
}

/* post */

.post__content * + * {
  margin-top: 1em;
}

.post__content > .post__snippet__date {
  margin-top: -1em;
}

.post__content h2 {
  color: var(--indigo);
}

.post__content h3 {
  padding-left: 1.5em;
  font-weight: 400;
}

.post__content ul:not(.list-reset) {
  padding-left: 2em;
}

.post__content img {
  max-width: min(640px, 100%);
  border: 1px solid var(--lightgrey);
  border-radius: 0.3em;
}

/* contact */

.contacts {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts > svg {
  max-width: 240px;
  align-self: flex-end;
  margin: 3em 0;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contact {
  display: flex;
  align-items: center;
  margin: 1em 0;
  gap: 1em;
}

.contact:hover h3 {
  color: var(--pink);
}

.contact:hover svg {
  fill: var(--pink);
}

.contact svg {
  height: 2.5em;
  width: 2.5em;
}

/* media queries */

@media (min-width: 48em) {
  :root {
    font-size: 0.9rem;
  }

  p:first-child {
    margin-top: 0;
  }

  .nav__toggle {
    top: 1.2em;
  }

  .intro__text h1 {
    font-size: 2rem;
  }

  .intro svg {
    max-width: 360px;
  }

  .bio__photo {
    float: left;
    max-width: 45%;
    margin-right: 1.5em;
    margin-bottom: 1em;
  }

  .stacks {
    flex-direction: row;
    justify-content: space-between;
  }

  .stack {
    flex-basis: 50%;
  }

  .period-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
  }

  .period-wrapper:nth-child(even) {
    flex-direction: row-reverse;
  }

  .period-svg-wrapper {
    flex-direction: column;
    justify-content: space-around;
  }

  .period {
    flex: 0 0 65%;
    margin-top: 0;
  }

  .project {
    flex-direction: row;
  }

  .project__image {
    flex: 0 1 50%;
    max-height: max(40vh, 32em);
    margin: 0;
  }

  .project__info {
    margin-top: 0;
    flex: 1 0 50%;
    padding-left: 1.5em;
  }

  .contacts > svg {
    max-width: 360px;
  }
}

@media (min-width: 64em) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }

  .logo {
    font-size: 1.1rem;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .nav__toggle {
    display: none;
  }

  .nav__internal {
    display: flex;
  }

  .nav__internal > a {
    margin: 0 0.6em;
    font-size: 1.1rem;
  }

  .nav__internal > a::before {
    content: none;
  }

  .project__image {
    flex-basis: 40%;
  }

  .project__info {
    flex-basis: 60%;
  }
}
