---
title: Oops! 404 - Page not found
heroHeading: Error 404
heroSub: The page you requested doesn't exist
---
{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper">
    <p>Try navigating to the page you were looking for again from the <a href="/">home page</a></p>
  </div>  
{% endblock main %}