---
title: Pawel Cebula - my story, background and tech stack
heroHeading: About me
heroSub: Some info about my backdround and tech stack
---

{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper about">
    {% include 'bio.njk' %}
    {% include 'stack.njk' %}
    {% include 'story.njk' %}   
  </div> 
{% endblock main %}