---
title: Pawel Cebula - My background, tech stack and story
heroHeading: About me
heroSub: My backdround, tech stack and story
---

{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper about">
    {% include 'bio.njk' %}
    {% include 'stack.njk' %}
    {% include 'story.njk' %}   
  </div> 
{% endblock main %}