---
title: About | Background, tech stack, story
heroHeading: About me
heroSub: Background, tech stack, story
---

{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper about">
    {% include 'bio.njk' %}
    {% include 'stack.njk' %}
    {% include 'story.njk' %}   
  </div> 
{% endblock main %}
