---
title: Pawel Cebula - Contacts
heroHeading: Contact me
heroSub: You can find my work online and reach our through these channels
---
{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper">
    <div class="contacts">
      {% for contact in contacts %}
        <div class="contact card-wrapper">
          <a href="{{ contact.url }}" class="card-content">
            {% include 'svg/' + contact.icon + '.svg' %}
            <span class="contact__prompt">{{ contact.prompt }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock main %}