---
title: Pawel Cebula - Contacts
heroHeading: Contact me
heroSub: You can find my work online and reach out through these channels
---
{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper">
    <div class="contacts">
      {% for contact in contacts %}
        <div class="card-wrapper">
          <div class="contact card-content">
            {% include 'svg/' + contact.icon + '.svg' %}
            <span class="contact__prompt">{{ contact.prompt }}</span>
          </div>
          <a href="{{ contact.url }}" class="contact__link"></a>
        </div>
      {% endfor %}
    </div>
  </div>
  <script>
    
  </script>
{% endblock main %}