---
title: Pawel Cebula | Contacts | Find my work online and reach out to me
heroHeading: Contact me
heroSub: Find my work online and reach out through these channels
---
{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper">
    <section 
      class="contacts"
      aria-labelledby="heroHeading"
      aria-describedby="heroSub"
    >
      <div class="contacts-wrapper">
        {% for contact in contacts %}
          <a href="{{ contact.url }}" class="contact">
            {% include 'svg/' + contact.icon + '.svg' %}
            <h3 class="contact__prompt">{{ contact.prompt }}</h3>
          </a>
        {% endfor %}
      </div>
      {% include 'svg/contact.svg' %}
    </section>
  </div>
{% endblock main %}