---
title: Pawel Cebula
heading: I'm Pawel
subheading: Self-taught web developer, previously startup founder & COO
---
{% extends 'base.njk' %}

{% block main %}
  {% include 'hero.njk' %}
  {% include 'features.njk' %}
{% endblock main %}