---
title: Pawel Cebula
name: I'm Pawel
heading: Self-taught web developer
subheading: Previously startup founder & COO
---
{% extends 'base.njk' %}

{% block main %}
  {% include 'hero.njk' %}
  {% include 'features.njk' %}    
{% endblock main %}