---
title: Web developer and startup founder based in Berlin
---
{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper">
    <section class="intro">
      <div class="intro__text">
        <h1>I'm Pawel,<br/>
          fullstack engineer based in Berlin.
        </h1>
        <h2>I love learning and building new things.</h2>
        <p>I spend most of my days building fundraising tools for early stage startup founders at On Deck.</p>
        <p>Before getting into coding, I founded Medigo, helping people access quality healthcare globally.</p>
        <p>I tend to go deep in a lot of things, most recently ramen, good coffee, craft beer and homebrewing, most things web3, HIIT, kitesurfing and wakeboarding.</p>
      </div>
      {% include 'svg/intro.svg' %}
    </section>
  </div>
{% endblock main %}