{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper">
    <h1>Posts</h1>
    <div class="posts">
      {% for post in collections.posts | reverse %}
        <article class="post__snippet">
          <a href="/posts/{{ post.data.title | slug }}" class="post__snippet__title">
            <h2>{{ post.data.title }}</h2>
          </a>
          <p class="post__snippet__date">Published: {{ post.data.date | dateFilter }} | {{ post | readingTime }} read</p>
          <p class="post__snippet__description">{{ post.data.description }}</p>
          <a href="/posts/{{ post.data.title | slug }}" class="post__snippet__more">Read more</a>
        </article>
      {% endfor %}
    </div>
  </div>
{% endblock main %}