---
title: Projects | Web development portfolio
heroHeading: Projects
heroSub: Some things I've worked on myself and with others
---

{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper">
    <section 
      class="projects"
      aria-labelledby="heroHeading"
      aria-describedby="heroSub"
    >
      {% for project in projects %}
        <article class="project">
          <div class="project__image img-border">
            <img src="{{ project.image }}" alt="{{ project.name}} project image">
          </div>
          <div class="project__info">
            {% if project.github %}
              <a href="{{ project.github }}" class="project__git" aria-label="github repository for {{ project.name }}">
                {% include 'svg/github.svg' %}
              </a>
            {% endif %}
            <h3>{{ project.name }}</h3>
            {% if project.url %}
              <a href="{{ project.url }}" class="project__url" aria-label="live project website for {{ project.name }}">{{ project.url }}</a>
            {% endif %}
            <ul class="list-reset">
              {% for tech in project.stack %}
                <li class="list-tag">{{ tech }}</li>
              {% endfor %}
            </ul>
            <div class="project__description">
              {% for p in project.description %}
                <p>{{ p }}</p>
              {% endfor %}
            </div>
          </div>
        </article>
      {% endfor %}
    </section>
  </div>
{% endblock main %}
