---
title: Pawel Cebula - Projects portfolio
heroHeading: My projects
heroSub: Some things I've worked on myself and with others
---

{% extends 'base.njk' %}

{% block main %}
  <div class="wrapper">
    <section 
      class="projects"
      aria-labelledby="heroHeading"
      aria-describedby="heroSub heroComment"
    >
      {% for project in projects %}
        <article class="project">
          <div class="img-border">
            <div class="project__image img-transform">
              <img src="{{ project.image }}" alt="{{ project.name}} project image">
            </div>
          </div>
          <div class="project__info">
            <h2>{{ project.name }}</h2>
            <a href="{{ project.github }}" class="project__git">
              {% include 'svg/github.svg' %}
            </a>
            {% if project.url %}
              <a href="{{ project.url }}" class="project__url">{{ project.url }}</a>
            {% else %}
              <p>n/a</p>
            {% endif %}
            <ul class="list-reset">
              {% for tech in project.stack %}
                <li class="list-tag">{{ tech }}</li>
              {% endfor %}
            </ul>
            <div class="project__description">
              {% for p in project.description %}
                <p>{{ p }}</p>
              {% endfor %}
            </div>
          </div>
        </article>
      {% endfor %}
    </section>
  </div>
{% endblock main %}
